<form name="vm.form" ng-submit="vm.aceptar()" novalidate="novalidate">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="vm.cancelar()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Nuevo Heredero</h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{ 'has-error': vm.invalid('nombre'), 'has-feedback': vm.invalid('nombre') }">
            <label class="control-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" required="required" ng-model="vm.modelo.nombre"></input>
            <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="vm.invalid('nombre')"></span>
            <span class="label label-danger" ng-show="vm.invalid('nombre')">Debe ingresar el nombre.</span>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" ng-disabled="vm.form.$invalid">Aceptar</button>
        <button type="button" class="btn btn-warning" ng-click="vm.cancelar()">Cancelar</button>
    </div>
</form>