body {
    background-color: #ffffff;
}

/* from PURE buttons-core.css */
.pure-skin-mine .pure-button {
    /* Structure */
    display: inline-block;
    *display: inline; /*IE 6/7*/
    zoom: 1;
    line-height: normal;
    white-space: nowrap;
    vertical-align: baseline;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-skin-mine .pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}
/* end from PURE buttons-core.css */
/* from PURE buttons.css */
/*csslint unqualified-attributes:false*/

.pure-skin-mine .pure-button {
    font-size: 100%;
    *font-size: 90%; /*IE 6/7 - To reduce IE's oversized button text*/
    *overflow: visible; /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
    padding: 0.5em 1.5em 0.5em;
    color: #171717; /* rgba not supported (IE 8) */
    /* color: rgba(0, 0, 0, 0.80); rgba supported */
    /* *color: #444; IE 6 & 7 */
    border: 1px solid #b9bbbb; /*IE 6/7/8*/
    border: none rgba(0, 0, 0, 0); /*IE9 + everything else*/
    background-color: #c6c7c7;
    text-decoration: none;
    border-radius: 2px;
    -webkit-font-smoothing: antialiased;
    /* Transitions */
    -webkit-transition: 0.1s linear -webkit-box-shadow;
    -moz-transition: 0.1s linear -moz-box-shadow;
    -ms-transition: 0.1s linear box-shadow;
    -o-transition: 0.1s linear box-shadow;
    transition: 0.1s linear box-shadow;
}

.pure-skin-mine .pure-button-hover,
.pure-skin-mine .pure-button:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.05)));
    background-image: -webkit-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -moz-linear-gradient(top, rgba(0,0,0, 0.05) 0%, rgba(0,0,0, 0.05));
    background-image: -ms-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.15));
    background-image: -o-linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.05));
}

.pure-skin-mine .pure-button:focus {
    outline: 0;
}
.pure-skin-mine .pure-button-active,
.pure-skin-mine .pure-button:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
}

.pure-skin-mine .pure-button[disabled],
.pure-skin-mine .pure-button-disabled,
.pure-skin-mine .pure-button-disabled:hover,
.pure-skin-mine .pure-button-disabled:active {
    border: none;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    -khtml-opacity: 0.40;
    -moz-opacity: 0.40;
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

.pure-skin-mine .pure-button-hidden {
    display: none;
}

/* Firefox: Get rid of the inner focus border */
.pure-skin-mine .pure-button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

.pure-skin-mine .pure-button-primary,
.pure-skin-mine .pure-button-selected,
.pure-skin-mine a.pure-button-primary,
.pure-skin-mine a.pure-button-selected {
    background-color: #3355BA;
    color: #fbfcfe;
}

/* foundational CSS */
.pure-skin-mine .pure-table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #e6e6e6;
}

.pure-skin-mine .pure-table caption {
    color: #adadad;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-skin-mine .pure-table td,
.pure-skin-mine .pure-table th {
    border-left: 1px solid #e6e6e6;/* inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.3em 0.6em; /* cell padding */
}

.pure-skin-mine .pure-table td:first-child,
.pure-skin-mine .pure-table th:first-child {
    border-left-width: 0;
}

.pure-skin-mine .pure-table thead {
    background-color: #dedede;
    color: #2e2e2e;
    text-align: left;
    vertical-align: bottom;
}

/*
striping:
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
.pure-skin-mine .pure-table td {
    background-color: #f5f5f5;
    color: #474747;
}
.pure-skin-mine .pure-table-odd td {
    background-color: #e6e6e6;
    color: #2e2e2e;
}

/* nth-child selector for modern browsers */
.pure-skin-mine .pure-table-striped tr:nth-child(2n-1) td {
    background-color: #e6e6e6;
    color: #2e2e2e;
}


/* BORDERED TABLES */
.pure-skin-mine .pure-table-bordered td {
    border-bottom: 1px solid #e6e6e6;
}
.pure-skin-mine .pure-table-bordered tbody > tr:last-child td,
.pure-skin-mine .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}

/* HORIZONTAL BORDERED TABLES */
.pure-skin-mine .pure-table-horizontal td,
.pure-skin-mine .pure-table-horizontal th {
    border-width: 0 0 1px 0;
    border-bottom:1px solid #e6e6e6;
}
.pure-skin-mine .pure-table-horizontal tbody > tr:last-child td {
    border-bottom-width: 0;
}
